body {
    color: #414141;               /* Dark gray */
    background-color: #EEEEEE;    /* Light gray */
  }
  h1  {
    text-align: justify;
    text-align: center;
    font-size: 2em;
  
  }
  p  {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    text-align: justify;
    text-align: center;
  }
 .imagesmain {
  max-height: 500px;
  max-width: 500px;
  margin: 2.5em;
  }
  img {
    max-height: 500px;
    max-width: min-content;
    margin: 2.5em;
  
  }
  h2 {
    font-size: 1.6em;
  }

  
  
